<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   <title>The Open Science SIG's OHBM Hackathon 2018 Itinerary App App</title>
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
   <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticsearch/13.2.0/elasticsearch.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
   <script src="https://unpkg.com/vue"></script>
   <script src="https://cdn.rawgit.com/datejs/Datejs/master/build/date.js"></script>
   <script src="https://cdn.rawgit.com/marcuswestin/store.js/master/dist/store.everything.min.js"></script>
   <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.3.1/vuex.min.js"></script>-->
   <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <style>
        .input {
          width: 100%;
          max-width: 100%;
        }
        .form-inline {
          margin: 0;
          width: 100%;
          max-width: 100%;
        }

        /* The ribbons https://codepen.io/eode9/pen/twkKm */

        .corner-ribbon{
          width: 200px;
          background: #e43;
          position: absolute;
          top: 25px;
          left: -50px;
          text-align: center;
          line-height: 50px;
          letter-spacing: 1px;
          color: #f0f0f0;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }

        /* Custom styles */

        .corner-ribbon.sticky{
          position: fixed;
        }

        .corner-ribbon.shadow{
          box-shadow: 0 0 3px rgba(0,0,0,.3);
        }

        /* Different positions */

        .corner-ribbon.top-left{
          top: 25px;
          left: -50px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }

        .corner-ribbon.top-right{
          top: 25px;
          right: -50px;
          left: auto;
          z-index: 100000;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }

        /* Colors */

        .corner-ribbon.white{background: #f0f0f0; color: #555;}
        .corner-ribbon.black{background: #333;}
        .corner-ribbon.grey{background: #999;}
        .corner-ribbon.blue{background: #39d;}
        .corner-ribbon.green{background: #2c7;}
        .corner-ribbon.turquoise{background: #1b9;}
        .corner-ribbon.purple{background: #95b;}
        .corner-ribbon.red{background: #e43;}
        .corner-ribbon.orange{background: #e82;}
        .corner-ribbon.yellow{background: #ec0;}

      </style>
</head>

<body>
  <div class="corner-ribbon top-right sticky blue">Beta Version</div>
  <div id="content">
     <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
       <form class="form-inline" v-on:submit="runSearch">
          <input class="form-control" type="text" placeholder="Search for OHBM Abstracts" v-model="searchStr" style="width:100%;" v-on:enter="runSearch" v-on:keyup="resetPage">
          <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="runSearch" hidden>Search</button>
       </form>
     </nav>
<div class="row justify-content-around" style="padding-top:10px; padding-bottom:10px;">
  <div class="btn-group col-11" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Examples
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" v-on:click="run_query('hippoca* AND ica')">hippoca* AND ica</a>
      <a class="dropdown-item" v-on:click="run_query('authorslist:turner')">authorslist:turner</a>
      <a class="dropdown-item" v-on:click="run_query('startsOn:2017-06-26')">startsOn:"2017-06-26"</a>
      <a class="dropdown-item" v-on:click="run_query('fMRI AND ICA')">logic: OR AND</a>
      <a class="dropdown-item" v-on:click="run_query('abstractType:Symposia')">abstractType:Symposia</a>
    </div>
  </div>

</div>
     <div id="cards" class="row" style="padding-left:2%; padding-right:2%;">
       <div>
        <!-- <div v-if="this.init" class="alert alert-danger" role="alert">
                 <strong>Thanks for making OHBM 2017 an amazing conference. The backend for the search functionality is hibernating till next year, but please help us improve this tool in the meantime. <a href="https://github.com/ohbmOS/ohbmOS.github.io">Frontend code</a>, <a href="https://github.com/satra/ohbm">Backend code</a></strong>
        </div> -->
        <div v-if="this.init" class="alert alert-info" role="alert">
                 <strong>The Open Science SIG's OHBM Hackathon 2018 Itinerary App. Please provide feedback and help improve our app: <a href="https://github.com/ohbmOS/ohbmOS.github.io">Frontend code</a>, <a href="https://github.com/satra/ohbm">Backend code</a></strong>
        </div>
         <div v-else-if="!this.init && !this.total" class="alert alert-danger" role="alert">
          <strong >Oh snap! {{total}}  hits!</strong> Change a few things up and try submitting again.
        </div>
        <div v-else-if="total > 0" class="alert alert-success" role="alert">
         <strong >Hits {{total}} </strong>
       </div>

       <div v-for="(res, index) in results" class="card-deck">
           <div class="card box mt-2">
            <div class="card-block">
              <h4 class="card-title"><a v-bind:href="res._source.previewurl">{{res._source.title}}</a></h4>
	      <div v-if="res._source.abstractType == 'Abstract Submission'">
                <p class="card-text">Poster {{res._source.abstractNumber}}</p>
	        <div v-if="(res._source.title == res._source.events.event.title)">
                  <p class="card-text" v-if="res._source.events.event.room"><strong>Talk, Room {{res._source.events.event.room[1]}}</strong> : {{prettyStart(res._source.events.event.startson)}}</i></p>
                </div>
              </div>
        <div v-if="res._source.abstractType == 'Symposia'">
                <p class="card-text" v-if="res._source.events.event.room"><strong>Symposia, Room {{res._source.events.event.room}} </strong> : {{prettyStart(res._source.events.event.startson)}} to {{prettyEnd(res._source.events.event.endson)}}</i></p>
              </div>

              </p> <!--TODO: if null, show poster-->
              <p class="card-text">
                <i style="color:grey;" v-for="auth in res._source.authorslist">
                  <a href="#" v-on:click="searchAuth" style="color:grey; text-decoration: underline;">{{auth}}</a>,
                </i>
              </p>

              <div class="collapse" v-bind:id="'collapseExample'+index">
                <p class="card-text">
                  {{res._source.purpose}}
                </p>
                <br>
              </div>

              <a class="btn btn-outline-primary btn-xs" v-bind:href="getCalLink(res._source)"
              target="_blank" rel="nofollow"><i class="fa fa-calendar" aria-hidden="true"></i></a>

              <button class="btn btn-outline-info btn-xs" type="button" data-toggle="collapse" v-bind:data-target="'#collapseExample' + index" aria-expanded="false" v-bind:aria-controls="'collapseExample'+index">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
            </div>
          </div>

         </div>
         <button class="btn btn-outline-primary btn-large" style="width:100%; margin-top:10px; margin-bottom:10px;" v-if="from < total" v-on:click="nextSearch">Next</button>
       </div>
     </div>


  </div>
</body>

<script>
var app = new Vue({
       el: "#content",
       data: {
         results: [],
         total: 0,
         searchStr: "",
         from: 0,
         size:10,
         doScroll: true,
         init: 1
       },
       methods:{
        run_event_Search: function(id,index,arr){
           console.log("running search", this.searchStr)
           console.log(index)
           console.log(arr)
           if(this.from<=this.total){
             var self=this
           client.search({
              index: 'ohbm',
              type: 'event',
              size:this.size,
              from:this.from,
              q: "@id:" + id + " AND _type:event"
            }).then(function (resp) {
                var hits = resp.hits.hits;
                console.log(hits)
                if (hits.length>0){
                  self.results.forEach(function (item,index,arr){
                    if ((item._source.abstractType == 'Abstract Submission') && (item._source.title == item._source.events.event.title) && (item._source.events.event.parent['@id'] == hits[0]._source['@id'])){self.results[index]._source.events.event.room = hits[0]._source.presentations.presentation[0].room['#text'];}
                    })
                } else {console.log(hits)}
            }, function (err) {
                //console.trace(err.message);
            });
          }
            return false;
         },
         runSearch: function(e){
           console.log("running search", this.searchStr)

           if (e) {
              e.preventDefault()
           }
           if(this.from<=this.total){
             var self=this
           client.search({
              index: 'ohbm',
              type: 'abstract',
              size:this.size,
              from:this.from,
              q: this.searchStr
            }).then(function (resp) {
                var hits = resp.hits.hits;
                hits.forEach(function (item,index,arr){

                  if ((item._source.abstractType == 'Abstract Submission') && (item._source.title == item._source.events.event.title)){
                    var id = item._source.events.event.parent['@id']
                    self.run_event_Search(id,arr,index)
                  }
                })
                self.total = resp.hits.total
                if (!self.from){
                  self.results = hits
                }
                else{
                  console.log("appending")
                  self.results = self.results.concat(hits)
                }
                self.from = self.from + self.size
                self.init = 0
                store.set("lastSearch", self.searchStr)
            }, function (err) {
                //console.trace(err.message);
            });
          }
            return false;
         },
         run_query: function(e){
           console.log(e);
           this.from = 0
           this.searchStr = e;
           this.runSearch();
         },
         searchAuth: function(e){
           console.log("searching auth", e.target.text)
           this.searchStr = '"'+e.target.text+'"'
           this.from = 0
           this.runSearch()
         },
         formatRoomURL: function(room){
          room = room.split('-')[0]
          var place = ''
          if ((room == 'AB') || (room == 'C')) {
             place = 'ballroom-';
             room = room[0].toLowerCase();
          } else {
             place = 'meeting-room-'
          }
          return 'http://www.vancouverconventioncentre.com/facility/floor-plans-and-specs#west-' + place + room
         },
         nextSearch: function(e){
             this.runSearch(e)
           return false
         },
         resetPage: function(e){
           this.from = 0
         },
         prettyStart: function(d){
          try {
           var s = ''
           if (d) {s = Date.parse(d).toString('ddd HH:mm')};
           return s;
          }
          catch(err) {
           return s;
          }
         },

         prettyEnd: function(d){
           try {
           var s = ''
                    if (d) {s = Date.parse(d).toString('HH:mm')};
           return s;
          }
          catch(err) {
           return s;
          }
         },
         getCalLink: function(data){
          if (data.abstractType !=  'Abstract Submission' ){
           var s = Date.parse(data.events.event.startson)
           var e = Date.parse(data.events.event.endson)
           var l = ''
          } else {
           var s = Date.parse(data.startsOn)
           var e = Date.parse(data.endsOn)
           var l = ''
          }
           try {
            var dateTime = (s.toISOString().replace(/-|:|\.\d\d\d/g,""))+"/"+(e.toISOString().replace(/-|:|\.\d\d\d/g,""))
           }
           catch(err) {
            var dateTime = ""
           }

           if (data.events.event.room == null) {
            l = 'Poster ' +' '+ String(data.abstractNumber);
          } else {
            l = data.events.event.location +' West '+ data.events.event.room;
          }

           return "https://www.google.com/calendar/event?action=TEMPLATE"+
           "&text="+data.title+
           "&dates="+dateTime+
           "&details="+data.events.event.type+
           "&location="+l+
           "&trp=false"+
           "&sprop="+
           "&sprop=name:"
         }

       },
       computed:{

       }
})



/*var store = new Vuex.Store({
  state: {
    count: 0
  },
  mutations: {
    increment (state) {
      state.count++
    }
  }
})
*/

var client = new elasticsearch.Client({
  host: "https://elastic:changeme@search.ohbm-openscience.org:9200",
  //log: "trace"
});

client.ping({
  requestTimeout: 30000,
}, function (error) {
  if (error) {
    console.error('elasticsearch cluster is down!');
  } else {
    console.log('All is well');
  }
});

var last = store.get("lastSearch")

if (last){
  app.searchStr = last
  app.runSearch()
}

</script>

</html>
