<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   <title>The Open Science SIG's OHBM Hackathon 2017 Itinerary App App</title>
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
   <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticsearch/13.2.0/elasticsearch.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
   <script src="https://unpkg.com/vue"></script>
   <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <style>
        .input {
          width: 100%;
          max-width: 100%;
        }
        .form-inline {
          margin: 0;
          width: 100%;
          max-width: 100%;
        }
      </style>
</head>

<body>
  <div id="content">
     <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
       <form class="form-inline" v-on:submit="runSearch">
          <input class="form-control" type="text" placeholder="Search for OHBM Abstracts" v-model="searchStr" style="width:100%;" v-on:enter="runSearch" v-on:keyup="resetPage">
          <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="runSearch" hidden>Search</button>
       </form>
     </nav>
<div class="row justify-content-around">
  <div class="btn-group col-11" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Examples
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" v-on:click="run_query('hippoca* AND ica')">hippoca* AND ica</a>
      <a class="dropdown-item" v-on:click="run_query('authorslist:turner')">authorslist:turner</a>
      <a class="dropdown-item" v-on:click="run_query('startsOn:2017-06-26')">startsOn:"2017-06-26"</a>
      <a class="dropdown-item" v-on:click="run_query('fMRI AND ICA')">logic: OR AND</a>
    </div>
  </div>
</div>
<!--
     <div class="card row">
     <h4>
       <button class="btn col-sm-2">Examples:</button>
       <button class="btn btn-info col-sm-3" v-on:click="run_query('hippoca* AND ica')">hippoca* AND ica</button>
       <button class="btn btn-info col-sm-3" v-on:click="run_query('authorslist:turner')">authorslist:turner</button>
       <button class="btn btn-info col-sm-3" v-on:click="run_query('startsOn:2017-06-26')">startsOn:"2017-06-26"</button>
       <button class="btn btn-info col-sm-3" v-on:click="run_query('fMRI AND ICA')">logic: OR AND</button>
     </h4>
     </div>
-->
     <div id="cards" class="row container">
       <div class="col-xs">
         <div v-if="!this.init && !this.total" class="alert alert-danger" role="alert">
          <strong >Oh snap! {{total}}  hits!</strong> Change a few things up and try submitting again.
        </div>
        <div v-else-if="total > 0" class="alert alert-success" role="alert">
         <strong >Hits {{total}} </strong>
       </div>
       <h1 v-if="this.init">The Open Science SIG's OHBM Hackathon 2017 Itinerary App</h1>

       <div v-for="(res, index) in results">
           <div class="card box mt-2">
            <div class="card-block">
              <h4 class="card-title">{{res._source.title}}</h4>
              <p class="card-text">{{res._source.startsOn}}</i></p>
              <p class="card-text">
                <div v-if="res._source.events.event.room"><b>Location: </b>
		  <a v-bind:href= "formatRoomURL(res._source.events.event.room.split(' ')[1])"> Room {{res._source.events.event.room.split(' ')[1]}} </a>
		</div>
                <div v-else><b>Location: </b> <a href='http://www.vancouverconventioncentre.com/facility/floor-plans-and-specs#west-exhibition-hall-a_west-exhibition-hall-b1_west-exhibition-hall-b2_west-exhibition-hall-b3_west-exhibition-hall-c'>Poster {{res._source.abstractNumber}}</a></div>
              </p> <!--TODO: if null, show poster-->
              <p class="card-text">
                <i style="color:grey;" v-for="auth in res._source.authorslist">
                  <a href="#" v-on:click="searchAuth" style="color:grey; text-decoration: underline;">{{auth}}</a>,
                </i>
              </p>

              <div class="collapse" v-bind:id="'collapseExample'+index">
                <p class="card-text">
                  {{res._source.purpose}}
                </p>
                <br>
              </div>

              <a class="btn btn-outline-primary btn-xs" v-bind:href="getCalLink(res._source)"
              target="_blank" rel="nofollow"><i class="fa fa-calendar" aria-hidden="true"></i></a>

              <button class="btn btn-outline-info btn-xs" type="button" data-toggle="collapse" v-bind:data-target="'#collapseExample' + index" aria-expanded="false" v-bind:aria-controls="'collapseExample'+index">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
            </div>
          </div>

         </div>
         <button class="btn btn-outline-primary btn-large" style="width:100%; margin-top:10px; margin-bottom:10px;" v-if="from < total" v-on:click="nextSearch">Next</button>
       </div>
     </div>


  </div>
</body>

<script>
var app = new Vue({
       el: "#content",
       data: {
         results: [],
         total: 0,
         searchStr: "",
         from: 0,
         size:10,
         doScroll: true,
         init: 1
       },
       methods:{
         runSearch: function(e){
           //console.log("hello")

           if (e) {
              e.preventDefault()
           }
           if(this.from<=this.total){
             var self=this
           client.search({
              index: 'ohbm',
              type: 'abstract',
              size:this.size,
              from:this.from,
              q: this.searchStr
            }).then(function (resp) {
                var hits = resp.hits.hits;
                self.total = resp.hits.total
                if (!self.from){
                  self.results = hits
                }
                else{
                  console.log("appending")
                  self.results = self.results.concat(hits)
                }
                self.from = self.from + self.size
                self.init = 0
            }, function (err) {
                //console.trace(err.message);
            });
          }
            return false;
         },
         run_query: function(e){
           console.log(e);
           this.from = 0
           this.searchStr = e;
           this.runSearch();
         },
         searchAuth: function(e){
           console.log("searching auth", e.target.text)
           this.searchStr = '"'+e.target.text+'"'
           this.from = 0
           this.runSearch()
         },
         formatRoomURL: function(room){
          room = room.split('-')[0]
          var place = ''
          if ((room == 'AB') || (room == 'C')) {
             place = 'ballroom-';
             room = room[0].toLowerCase();
          } else {
             place = 'meeting-room-'
          }
          return 'http://www.vancouverconventioncentre.com/facility/floor-plans-and-specs#west-' + place + room
         },
         nextSearch: function(e){
             this.runSearch(e)
           return false
         },
         resetPage: function(e){
           this.from = 0
         },
         getCalLink: function(data){
           var s = new Date(data.startsOn)
           var e = new Date(data.endsOn)
           var l = ''

           var dateTime = (s.toISOString().replace(/-|:|\.\d\d\d/g,""))+"/"+(e.toISOString().replace(/-|:|\.\d\d\d/g,""))

           if (data.events.event.room == null) {
            l = 'Poster ' +' '+ String(data.abstractNumber);
          } else {
            l = data.events.event.location +' West '+ data.events.event.room;
          }

           return "http://www.google.com/calendar/event?action=TEMPLATE"+
           "&text="+data.title+
           "&dates="+dateTime+
           "&details="+data.events.event.type+
           "&location="+l+
           "&trp=false"+
           "&sprop="+
           "&sprop=name:"
         }

       },
       computed:{
       }
})

var client = new elasticsearch.Client({
  host: "http://elastic:changeme@174.129.20.29:9200",
  //log: "trace"
});

client.ping({
  requestTimeout: 30000,
}, function (error) {
  if (error) {
    console.error('elasticsearch cluster is down!');
  } else {
    console.log('All is well');
  }
});

app.doScroll = true

</script>

</html>
